<div class="initialPage">
    <div class="row">
    <a href="initial" class="modal-close waves-effect waves-green btn-flat">Sign Up</a>
    <div class="col s8" id="leftInitial">
        <h1>Welcome</h1>
    </div>
    <div class="col s4" id="rightInitial">
        <form>
            <input>Sajjad
        </form>
    </div>
    </div>
</div>

<script src="/js/index.js"></script>
<script src="/js/materialize.js"></script>