.list-group-item {
  line-height: 2.5;
}

#signup {
  margin-top: 10%;
}

.channelsArea {
  margin-top: 50px;
}

#leftInitial{
  border-width: 10px;
  background-color: dimgrey;
  height: 100vh;
  background-size: cover;
  border-style: solid;
}

#rightInitial {
  background-color: bisque;
  height: -webkit-fill-available;
}

#sideNavBtn{
  display: block;
  position: relative;
  top: -40px;
  color: black;
  z-index: 2;
  margin-left: 20px;
  width: 25px;
}

#createPostArea{
  overflow-y: auto;
  /* overflow-x: hidden; */
  position: fixed;
  left: 63.3%;
  /* min-height: 500px; */
}

#createPostCard{
  height: auto;
}

#postContent{
  height: 50%;
}

#category{
  display: flex;
}

.delete{
  position: sticky;
  left: 70%;
}

.list-group-item{
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin-top: 5px;
}

.card-content{
  background-color: white;
}

#roboHead{
  position: relative;
  height: -webkit-fill-available;
  padding: 2px;
}